# Global
.env
.env.*      # if you use .env.development, .env.production etc.
*.log
*.DS_Store
node_modules/
dist/
build/
coverage/
.vscode/
*.local
.cache/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Backend-specific
/backend/node_modules/
backend/dist/
backend/coverage/
backend/.env
uploads/

# Frontend-specific
/frontend/node_modules/
frontend/build/
frontend/dist/
frontend/.env

# IDEs and Editors
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS
Thumbs.db
.DS_Store
